/*configuracion y variables*/
:root {
    --naranja: #FF5733;
    --naranja-dark: #E64A19;
    --azul-oscuro: #0A192F;
    --gris-fondo: #f8f9fa;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*componentes globales (Navbar, Botones)*/
.navbar { 
    background-color: var(--azul-oscuro) !important; 
}

.btn-orange {
    background-color: var(--naranja) !important;
    color: white !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn-orange:hover {
    background-color: var(--naranja-dark) !important;
}

/*seccion de hero e index*/
.hero { 
    background-color: var(--naranja); 
}

/*cards*/
.credit-card {
    border-radius: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--gris-fondo);
}

.card-img-top {
    width: 100%;
    height: 220px; /* Ajustado para mejor proporción */
    object-fit: cover;
    object-position: center;
}

.credit-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alinea el botón siempre al fondo */
}

/* Tipografía dentro de las cards */
.credit-card h4 {
    color: var(--azul-oscuro);
    font-weight: 700;
    margin-top: 15px;
}

.credit-card .label {
    color: var(--azul-oscuro);
    font-weight: 600;
}

/* Footer decorativo */
.footer-naranja { 
    background-color: var(--naranja); 
    height: 60px;
}

